/*
$Name$
*/

/**
 * @file
 * css for taxonomy_split
 *
 * @author Bob Hutchinson http://drupal.org/user/52366
 */

.tsb_trig, .tsp_trig, .tsc_trig {
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  color: #6F2000;

}
.tsb_trig:hover, .tsp_trig:hover, .tsc_trig:hover {
  text-decoration: underline;
  color: #FF8000;
}

span.active {
  color: #800000;
  font-weight: bold;
}

.ts_nodefs {
  background: #F0F0F0;
}

.ts_prevnext_container {
  text-align: center;
}
