/*
$Name$
*/

/**
 * @file
 * css for taxonomy_split panels layout
 *
 * @author Bob Hutchinson http://drupal.org/user/52366
 */

.panel-3col {
/*  overflow: hidden;  */
}

.panel-3col .panel-col-first {
  float: left;
  width: 30%;
}

.panel-3col .panel-col-first .inside {
  margin: 0 .5em 1em 0;
}

.panel-3col .panel-col {
  float: left;
  width: 30%;
}

.panel-3col .panel-col .inside {
  margin: 0 .5em 1em .5em;
}

.panel-3col .panel-col-last {
  float: left;
  width: 40%;
}

.panel-3col .panel-col-last .inside {
  margin: 0 0 1em .5em;
}

.panel-3col .panel-separator {
  margin: 0 0 1em 0;
}
